version: '3.8'

services:
  db:
    image: mysql:8.0
    volumes:
      - mysql_data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=rootpassword
      - MYSQL_DATABASE=job_agent
      - MYSQL_USER=user
      - MYSQL_PASSWORD=userpassword
    ports:
      - "3307:3306"

  app:
    build: .
    volumes:
      - .:/app
    environment:
      - DATABASE_URL=mysql+pymysql://user:userpassword@db:3306/job_agent
    ports:
      - "8008:8000"
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    depends_on:
      - db

volumes:
  mysql_data:
